.headline {
  color: #0a0e06;
  padding-bottom: 20px;
  font-size: 2em;
  text-align: center;
}
.text {
  color: #0a0e06;
}
.darkshadowbtn {
  margin: 20px auto;
  background-color: #FEFAE0;
  border: 2px solid #283618;
  border-radius: 16px;
  box-shadow: #283618 4px 4px 0 0;
  color: #283618;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1em;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.darkshadowbtn:hover {
  background-color: #fff;
}

.darkshadowbtn:active {
  box-shadow: #283618 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .dark-shadown-btn {
    min-width: 120px;
    padding: 0 25px;
  }
}